/* draggable */
#draggable,
#draggable2,
#draggable3 {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    margin: 0 40px 0 10px;
    text-align: center;
    color: white;
}

/* sortable */
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
}

#sortable li {
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 16px;
    height: 50px;

}

#sortable li span {
    position: absolute;
    margin-left: -1.3em;
    padding-top: 20px;
}

/* menu */
.ui-menu {
    width: 150px;
}

/* progressbar */
#progressbar .ui-progressbar-value {
    background-color: #ccc;
}

/* select menu */
fieldset {
    border: 0;
}

label {
    display: block;
    margin: 30px 0 0 0;
}

.overflow {
    height: 200px;
}

/* toggler */
.toggler {
    width: 500px;
    height: 200px;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
}

#effect {
    width: 240px;
    height: 170px;
    padding: 0.4em;
    position: relative;
}

#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

/* tooltip */
label {
    display: inline-block;
    width: 5em;
}

/* addclass */
.addclass {
    width: 500px;
    height: 200px;
    position: relative;
}

#addclass_btn {
    padding: .5em 1em;
    text-decoration: none;
}

#effect_addclass {
    width: 440px;
    padding: 1em;
    border: 1px solid #000;
    background: #eee;
    color: #333;
}

.newClass {
    text-indent: 40px;
    letter-spacing: .4em;
    width: 410px;
    height: 130px;
    padding: 30px;
    margin: 10px;
    font-size: 1.1em;
}

/* droppable  */
#draggable_drop {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    margin: 10px;
}

/* resizable */
#resizable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    background-color: skyblue;
}

#resizable h3 {
    text-align: center;
    margin: 0;
}

/* selectable */

#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 50px;
}